<!DOCTYPE html>
<html layout:decorator="layouts/layout_default_new" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Restore password page</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="plans purchasing">
        <div class="plans-box plans-margin plans-address">
            <div th:unless="${#lists.isEmpty(errors)}">
                <div th:each="error : ${errors}" class="alert alert-danger" role="alert">
                    <span th:text="${error}"></span>
                </div>
            </div>
            <div id="updatePasswordAlert" class="alert alert-danger" role="alert">
                <span id="alertMessage"></span>
            </div>
            <h4 th:if="${tokenStr != null}" class="panel-title">Create new password</h4>
            <h4 th:if="${tokenStr == null}" class="panel-title">Change password</h4>
            <form name="form" id="signupform" th:action="@{/users/changePassword}" action="/users/changePassword"
                  method="POST" role="form" data-toggle="validator">
                    <div th:if="${tokenStr == null}" class="row no-gutter">
                        <div class="col-sm-5">
                            <label for="currentPassword">Current password<req>*</req></label>
                            <input type="password" class="form-control" name="currentPassword" placeholder="Current password" id="currentPassword" required="required"/>
                        </div>
                    </div>

                    <div class="row no-gutter">
                        <div class="col-sm-5">
                            <label for="newPassword">New password<req>*</req></label>
                            <input type="password" class="form-control" name="newPassword" placeholder="New password" id="newPassword" required="required"/>
                        </div>
                        <div class="col-sm-5">
                            <label for="repeatPassword">Confirm password<req>*</req></label>
                            <input type="password" class="form-control" name="repeatPassword" placeholder="Repeat password" id="repeatPassword" required="required"/>
                        </div>
                    </div>

                    <input th:unless="${tokenStr == null}" type="hidden" name="tokenStr" th:value="${tokenStr}"/>
                    <input th:if="${tokenStr == null}" type="hidden" name="id" th:value="${id}"/>

                    <div class="row no-gutter">
                        <div class="col-sm-5">
                            <a th:href="@{/accountInfo}" class="btn btnplan">Back</a>
                            <input th:if="${tokenStr == null}" type="submit" name="changePassword" value="Change" id="updateBtn" class="btn btnplan btn-green"/>
                            <input th:if="${tokenStr != null}" type="submit" name="updatePassword" value="Update" id="updateBtn" class="btn btnplan btn-green"/>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</th:block>

<div layout:fragment="pageScript" th:remove="tag">
    <script type="text/javascript">
        $(document).ready(function() {
            $('#updatePasswordAlert').hide();
            $('#updateBtn').click(function(event) {
                if($('#newPassword').val() != $('#repeatPassword').val()) {
                    event.preventDefault();
                    $('#updatePasswordAlert').show();
                    $('#alertMessage').text('New and confirm passwords do not match!');
                    $('#newPassword, #repeatPassword').addClass('invalid');
                }
            });
        });
    </script>
</div>
</body>
</html>