<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" >
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="_csrf" th:content="${_csrf != null ? _csrf.token : ''}"/>
    <meta name="_csrf_header" th:content="${_csrf != null ? _csrf.headerName : ''}"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="google-site-verification" content="s9kldzyvwqQQ-9nz89eaEI9EaDwz-FX4DkvMHqcyvzE" />
    <meta name="msvalidate.01" content="CE6A38E496877DB01A1281DFAAE02CA3" />
    <link rel="canonical" href="https://travelinsurancemaster.com/"/>
    <link rel="shortcut icon" th:href="@{https://d3u70gwj4bg98w.cloudfront.net/images/favicon.ico}" type="image/x-icon"/>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">TIM</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap-select.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap-datepicker3.min.css}"/>
      <!--    <link rel="stylesheet" th:href="@{/css/style.css?ver=1.3}"/>-->
      <!-- <link rel="stylesheet" th:href="@{/css/custom.css?ver=1.1}"/>-->
<!--      <link rel="stylesheet" th:href="@{/css/main.css?ver=1.2}"/>-->
      <link rel="stylesheet" th:href="@{/css/main.css?ver={version}(version=${appVersion.version})}"/>
      <link rel="stylesheet" th:href="@{/css/custom.min.css?ver={version}(version=${appVersion.version})}"/>

    <link th:href="@{/css/lib/jquery.bxslider.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/lib/bootstrap-select.min.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/css/lib/bootstrap-slider.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/lib/bootstrap-datepicker3.min.css}" rel="stylesheet"/>
    <meta name="keywords" content="travel, insurance, trip, date, quote" />

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,600,200|Merriweather:400,300italic' rel='stylesheet' type='text/css'/>
    <script th:inline="javascript">
      // @formatter:off
      /*<![CDATA[*/
      var context = [[@{/}]];
      var STATUS_CHECK_INTERVAL = [[${statusCheckInterval}]];
      var defErrMsg = "Temporary server Error. Please try again later.";
      /*]]>*/
      // @formatter:on
    </script>
    <script  type="text/javascript" th:src="@{/js/lib/api.js}"></script>
  </head>

  <body id="body">

    <!-- Universal Modal !-->
    <div id="infoModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">PLAN DETAILS</h4>
          </div>
          <div class="modal-body">
            <div class="modal-message">Please enter all travelers’ ages as of today. For infants under the age of 1 you may enter 0</div>
          </div>

        </div>
      </div>
    </div>

    <div layout:fragment="pageModal" ></div>
    <div class="modal fade" id="serverErrorModal" tabindex="-1" role="dialog" aria-labelledby="serverErrorModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="serverErrorModalLabel">Session notification.</h4>
          </div>
          <div class="modal-body">
            <p>You session has expired! Please, reload page to continue!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="expiredSessionReloadBtn" onclick="location.reload();">Reload page</button>
          </div>
        </div>
      </div>
    </div>

    <div id="body-wrapper" th:remove="${!#strings.equals(currentPage, 'ComparePlans')}? tag">
      <div class="alert notf notfback" id="notfback" data-spy="affix">
        <span>Welcome back! We saved the quote details from your last visit.</span>
        <button class="btn clearbtn">Continue</button>
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>

      <div layout:fragment="notification" />

      <header>
        <div th:replace="fragments/navigation :: navigation" />
        <div th:replace="fragments/side-menu :: side-menu" />
      </header>

      <div layout:fragment="content" />

      <footer th:id="${#strings.equals(currentPage, 'ComparePlans')}?flexfooter">
        <div th:replace="fragments/footer_new :: footer"/>
      </footer>
      <span class="goTopLink"><i>Top</i></span>
      <!--<script type="text/javascript" th:src="@{/js/custom/detectIE.js}"></script>-->
      <script type="text/javascript" th:src="@{/js/custom/detectIE.min.js?ver={version}(version=${appVersion.version})}"></script>

      <script type="text/javascript" th:src="@{/js/lib/jquery.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/lib/pointer-events-polyfill.0.0.1.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/lib/bootstrap.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/lib/bootstrap-select.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/lib/moment.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/lib/lodash.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/lib/bootstrap-datepicker.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/lib/autoNumeric.1.9.43.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/lib/spin.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/lib/jquery.mask.min.js}"></script>

      <script type="text/javascript" th:src="@{/js/custom/modal.min.js?ver={version}(version=${appVersion.version})}"></script>
      <script type="text/javascript" th:src="@{/js/custom/main.min.js?ver={version}(version=${appVersion.version})}"></script>
      <script type="text/javascript" th:src="@{/js/main.min.js?ver={version}(version=${appVersion.version})}"></script>
      <script type="text/javascript" th:src="@{/js/custom/util/httpUtil.min.js?ver={version}(version=${appVersion.version})}"></script>
      <script type="text/javascript" th:src="@{/js/custom/loginNavigation.js?ver={version}(version=${appVersion.version})}"></script>

      <!--<script type="text/javascript" th:src="@{/js/custom/util/httpUtil.js}"></script>-->
      <script type="text/javascript" th:src="@{/js/lib/jquery.sticky-kit.min.js}"></script>
      <script type="text/javascript" th:src="@{/js/lib/bootstrap-formhelpers.min.js}"></script>

      <!-- Счётчик для Google Analytics -->
      <script th:if="${gaEnable}">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88357128-1', 'auto');
        ga('send', 'pageview');

      </script>

      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-88357128-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

      <!-- Конец счётчика -->
      <div layout:fragment="pageScript" />
    </div>
  </body>
</html>