<!DOCTYPE HTML>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>TIM Mail</title>
    <meta name="format-detection" content="telephone=no"/>
</head>
<body>
<style type="text/css">
    html {
        -webkit-text-size-adjust: none;
    }

    body:first-of-type .lineHeight0 {
        line-height: 0;
    }

    .linkWhite a:link, .linkWhite a:visited {
        color: #012236;
    }

    a[href^=tel], a, .ii a[href], a span {
        color: #012236 !important;
        text-decoration: none;
    }

    .appleLinksWhite a {
        color: #012236 !important;
        text-decoration: none !important;
    }

    .appleLinks a {
        color: #012236 !important;
        text-decoration: none !important;
    }
</style>
<table cellpadding="0" cellspacing="0" border="0" width="100%"
       style="min-width:560px;background:#ffffff; max-width: 100%">
    <tbody>
    <tr>
        <td style="text-align:center;">
            <center style="display:inline-block;vertical-align:top">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                    <tr>
                        <td style="text-align:left;overflow:hidden">
                            <table cellpadding="0" cellspacing="0" border="0" width="650px">
                                <tbody>
                                <tr>
                                    <td style="white-space:nowrap; vertical-align: middle;height: 43px; min-height: 43px;" height="43">
                                        <img style="vertical-align: middle;padding-bottom: 4px; padding-right: 7px;" src="cid:logo_travelinsurancemaster" alt="Logo Travel Insurance Master"/>
                                    </td>
                                    <td style="width:560px;padding-top:0;vertical-align: middle" align="right">
                                        <table cellpadding="0" cellspacing="0" border="0" width="100%"
                                               style="width:100%">
                                            <tbody>
                                            <tr>
                                                <!--<td style="width:4000px">&nbsp;</td>-->
                                                <td style="text-align:right;vertical-align:middle;white-space:nowrap;padding-left:27px;height: 43px; min-height: 43px;" height="43">
                                                    <span class="appleLinksWhite" style="font-family:Tahoma,Helvetica,sans-serif;font-size: 20px; color: #002d48!important;text-decoration: none;vertical-align: middle;">
                                                       &#9742; 800<span>-</span>614<span>-</span>8505
                                                    </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
            <hr style="width:700px;"/>
        </td>
    </tr>
    <tr>
        <td style="text-align:center;vertical-align:top;height:357px">
            <center style="display:inline-block;vertical-align:top">
                <table cellpadding="0" cellspacing="0" border="0" width="620" style="width:547px">
                    <tbody>
                    <tr>
                        <td style="width:620px;text-align:left;overflow:hidden;padding-bottom:33px">
                            <table cellpadding="0" cellspacing="0" border="0" width="560"
                                   style="background:#ffffff;width:620px">
                                <tbody>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td style="width:100%;background:#fff;height:22px">
                                                    <div style="min-height:22px">
                                                        &nbsp;
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-top:0;font-size:23px;mso-line-height-rule: exactly;line-height:19px;padding-bottom:7px;">
                                                    <div style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;font-weight: bold;mso-line-height-rule: exactly;line-height:19px;color:#012236!important;letter-spacing: 0.4px;">
                                                        <span th:text="'Dear '+${userName}+','">Dear Yelena Levitina,</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td style="font-family:Tahoma,Helvetica,sans-serif;padding-bottom:17px;font-size:14px;padding-top:7px;">
                                                                <span style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;color:#012236!important;text-decoration:none;letter-spacing: 0.4px;">Welcome to Travel Insurance Master! We are thrilled that you have joined and look forward to helping you in all of your travel insurance needs.</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:Tahoma,Helvetica,sans-serif;padding-bottom:17px;font-size:14px;padding-top:7px;">
                                                                <table cellpadding="0" cellspacing="0" border="0"
                                                                       width="100%">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="padding-bottom: 3px;"><span
                                                                                style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;color:#012236!important;text-decoration:none;letter-spacing: 0.4px;">Your sign-in details</span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-bottom: 3px;"><span
                                                                                style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;color:#012236!important;text-decoration:none;letter-spacing: 0.4px; padding-right: 10px; font-weight: bold;">Email:</span>
                                                                        </td>
                                                                        <td style="padding-bottom: 3px;"><a
                                                                                style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;color:#012236!important;text-decoration:none;letter-spacing: 0.4px;"
                                                                                th:href="${'mailto:'+userEmail}"
                                                                                target="_blank"><font color="#012236"
                                                                                                      face="Tahoma,Helvetica,sans-serif" th:text="${userEmail}">weihdfwoehd@gmail.com</font></a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-bottom: 3px;"><span
                                                                                style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;color:#012236!important;text-decoration:none;letter-spacing: 0.4px; padding-right: 10px; font-weight: bold;">Temporary Password:</span>
                                                                        </td>
                                                                        <td style="padding-bottom: 3px;"><span
                                                                                style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;color:#012236!important;text-decoration:none;letter-spacing: 0.4px;" th:text="${userPassword}">dUa7Ghd6h</span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:Tahoma,Helvetica,sans-serif;padding-bottom:3px;font-size:14px;padding-top:7px;">
                                                                <span style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;color:#012236!important;text-decoration:none;letter-spacing: 0.4px;">You can always change your temporary password in your account.</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family:Tahoma,Helvetica,sans-serif;padding-bottom:17px;font-size:14px;">
                                                                <span style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;color:#012236!important;text-decoration:none;letter-spacing: 0.4px;">Please confirm your email address by clicking the link below.</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center;padding-bottom: 13px">
                                                                <center style="display:inline-block;vertical-align:top">
                                                                    <a th:href="${emailVerificationUrl}"
                                                                       style="font-size:0;white-space:nowrap;width:180px;min-height:40px;display:block; vertical-align: top;"
                                                                       target="_blank">
                                                                        <img th:src="${button4}" border="0"
                                                                             style="border:0;vertical-align: top;display: block;"
                                                                             width="180" height="40" alt="Verification"/><span
                                                                            style="mso-line-height-rule: exactly;line-height: 15px;"></span>
                                                                    </a>
                                                                </center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-bottom: 13px">
                                                                <span style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;color:#012236!important;letter-spacing: 0.4px;text-decoration:none">If you can't click on the link just copy and paste<br/></span>
                                                                <a style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;letter-spacing: 0.4px;color:#0099cc!important;text-decoration:underline"
                                                                   href="http://www.travelinsurancemaster.com/signup/confirm/?code=ef5573b62b44e1c61ee6569921ab53b8"
                                                                   th:href="${emailVerificationUrl}"
                                                                   target="_blank"><font color="#0099cc"
                                                                                         face="Tahoma,Helvetica,sans-serif">
                                                                    <th:block th:text="${emailVerificationUrl}">http://www.travelinsurancemaster.com/signup/confirm/?code=ef5573b62b44e1c61ee6569921ab53b8</th:block></font></a><span
                                                                    style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;letter-spacing: 0.4px;mso-line-height-rule: exactly;line-height:20px;color:#012236!important;text-decoration:none"> it in your browser</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding-bottom: 13px;">

                                                                <span style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;letter-spacing: 0.4px;color:#012236!important;text-decoration:none">If this email was sent in error, or you do not have an account with </span>
                                                                <a style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;letter-spacing: 0.4px;color:#0099cc!important;text-decoration:underline"
                                                                   href="www.travelinsurancemaster.com" target="_blank"><font
                                                                        color="#0099cc"
                                                                        face="Tahoma,Helvetica,sans-serif">www.travelinsurancemaster.com</font></a><span
                                                                    style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;letter-spacing: 0.4px;color:#012236!important;text-decoration:none"> please accept our apology and disregard this message. </span><br/>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="" align="right">
                                                                <table cellpadding="0" cellspacing="0" border="0"
                                                                       width="100%" style="width:100%">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="width:4000px">&nbsp;</td>
                                                                        <td style="text-align:right;vertical-align:top;white-space:nowrap;"
                                                                            align="right">
                                                                                                            <span style="font-family:Tahoma,Helvetica,sans-serif;font-size:14px;letter-spacing: 0.2px;color:#012236!important;text-decoration:none;text-align: right;font-style: italic;">Thank you,<br/>
                                                                                                                <span style="font-family:Tahoma,Helvetica,sans-serif;letter-spacing: 0.2px;color:#012236;text-decoration:none"
                                                                                                                      class="appleLinks"><font
                                                                                                                        color="#012236">TravelInsuranceMaster.com</font></span></span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
    <tr>
        <td style="text-align:center;padding-top:2px">
            <hr style="width:700px;"/>
            <center style="display:inline-block;vertical-align:top">
                <table cellpadding="0" cellspacing="0" border="0" style="width:620px;text-align:left;overflow:hidden">
                    <tbody>
                    <tr>
                        <td style="padding-top:11px;min-height:49px;text-align: left;vertical-align: top;padding-right: 7px; padding-bottom: 7px;">
                            <table cellpadding="0" cellspacing="0" border="0" style="text-align:left;overflow:hidden">
                                <tr>
                                    <td style="padding-bottom:2px;">
                                        <span style="font-family:Tahoma,Helvetica,sans-serif;font-weight: bold;font-size:12px;letter-spacing: 0.2px;color:#012236;text-decoration:none">Address</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:2px;">
                                        <span style="font-family:Tahoma,Helvetica,sans-serif;font-size:12px;letter-spacing: 0.2px;color:#012236;text-decoration:none">Travel Insurance Master</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:2px;">
                                        <span style="font-family:Tahoma,Helvetica,sans-serif;font-size:12px;letter-spacing: 0.2px; color:#012236;text-decoration:none"
                                              class="appleLinksWhite"><font color="#012236">16 Webster St</font></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-family:Tahoma,Helvetica,sans-serif;font-size:12px;letter-spacing: 0.2px;color:#012236;text-decoration:none"
                                              class="appleLinksWhite"><font color="#012236">Brookline MA 02446</font></span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding-top:11px;min-height:49px;text-align: left;vertical-align: top;padding-left: 40px; padding-bottom: 7px;">
                            <table cellpadding="0" cellspacing="0" border="0" style="text-align:left;overflow:hidden">
                                <tr>
                                    <td style="padding-bottom:3px;">
                                        <span style="font-family:Tahoma,Helvetica,sans-serif;font-weight: bold;font-size:12px;letter-spacing: 0.2px;color:#012236;text-decoration:none">Customer Care</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:1px;">
                                        <span
                                           style="font-family:Tahoma,Helvetica,sans-serif;font-size:12px;letter-spacing: 0.2px;color:#012236;text-decoration:none"
                                           class="appleLinksWhite">800<span>-</span>614<span>-</span>8505</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:3px;">
                                        <a style="font-family:Tahoma,Helvetica,sans-serif;font-size:12px;letter-spacing: 0.2px;color:#fff;text-decoration:underline;"
                                           href="mailto:support@TravelInsuranceMaster.com" target="_blank"><font
                                                color="#012236">support@TravelInsuranceMaster.com</font></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="padding-top:11px;min-height:49px;text-align: left;vertical-align: top;padding-left: 40px; padding-bottom: 7px;">
                            <table cellpadding="0" cellspacing="0" border="0" style="text-align:left;overflow:hidden">
                                <tr>
                                    <td style="padding-bottom:3px;">
                                        <span style="font-family:Tahoma,Helvetica,sans-serif;font-weight: bold;font-size:12px;letter-spacing: 0.2px;color:#012236;text-decoration:none">Hours (Eastern Time)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:3px;">
                                        <span
                                           style="font-family:Tahoma,Helvetica,sans-serif;font-size:12px;letter-spacing: 0.2px;color:#012236!important;text-decoration:none; cursor: default"
                                           class="appleLinksWhite">Monday <span>&#8211;</span>
                                            Friday: 9am <span>&#8211;</span> 6pm</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:3px;">
                                        <span
                                           style="font-family:Tahoma,Helvetica,sans-serif;font-size:12px;letter-spacing: 0.2px;color:#012236!important;text-decoration:none;cursor: default"
                                           class="appleLinksWhite">Saturday: 10am <span>&#8211;</span> 3pm</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
    <tr>
        <td style="text-align:center;padding-top:2px;padding-bottom: 15px;">
            <center style="display:inline-block;vertical-align:top">
                <table cellpadding="0" cellspacing="0" border="0" style="width:620px;text-align:left;overflow:hidden">
                    <tbody>
                    <tr>
                        <td style="text-align: left;padding-right: 10px;">
                            <span style="font-family:Tahoma,Helvetica,sans-serif;font-size:12px;letter-spacing: 0.2px;color:#012236;text-decoration:none">© <span th:text="${#dates.year(#dates.createNow())}">2018</span> Travel Insurance Master</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </center>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>