<!DOCTYPE HTML>
<html layout:decorator="layouts/layout_default" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Page type management</title>
    <script src="/js/lib/jquery.dataTables.min.js"
            th:src="@{/js/lib/jquery.dataTables.min.js}"></script>
    <script src="/js/lib/dataTables.bootstrap.min.js"
            th:src="@{/js/lib/dataTables.bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/css/lib/dataTables.bootstrap3.css"
          th:href="@{/css/lib/dataTables.bootstrap3.css}"/>
    <script th:src="@{/js/custom/cms/pagetype.js?ver={version}(version=${appVersion.version})}" src="/js/custom/cms/pagetype.js"/>
</head>
<body>
<div layout:fragment="content" id="searchResultContent">
    <div class="container">
        <div class="row">
            <div class="col-md-8"><h1>Page type management</h1></div>
            <div class="col-md-4 text-right">
                <h1><a th:href="@{/cms/pagetype/create}" class="btn btn-success xcrud-action "><i
                        class="glyphicon glyphicon-plus-sign"></i>&nbsp;&nbsp;Create</a></h1>
            </div>
        </div>
        <table class="table table-hover table-bordered" id="pagetypes">
            <thead>
            <tr class="info">
                <th width="44%">Page type name</th>
                <th width="44%">Page type template</th>
                <th width="8%">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type : ${types}" th:id="'type-' + ${type.id}">
                <td th:text="${type.name}">type name</td>
                <td th:text="${type.template}">type template</td>
                <td>
                    <a class="pull-left btn btn-primary" type="button" title="Edit"
                       th:href="@{/cms/pagetype/edit/{id}(id=${type.id})}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <button class="pull-right btn btn-danger" type="button" title="Delete"
                            th:onclick="'javascript:deletePageType(\'' + ${type.id} + '\');'">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <input id="lastModified" type="hidden" th:value="${lastModifiedPageTypeId}"/>
    </div>
</div>
</body>
</html>