<!DOCTYPE html>
<html layout:decorator="layouts/layout_default" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <title>Category edit</title>
    <script src="/js/lib/jquery.dataTables.min.js"
            th:src="@{/js/lib/jquery.dataTables.min.js}"></script>
    <script src="/js/lib/dataTables.bootstrap.min.js"
            th:src="@{/js/lib/dataTables.bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/css/lib/dataTables.bootstrap3.css"
          th:href="@{/css/lib/dataTables.bootstrap3.css}"/>
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap-multiselect.css}"/>
    <script th:src="@{/js/lib/bootstrap-multiselect.js}"/>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- include summernote css/js-->
    <link th:href="@{/css/lib/summernote.css}" rel="stylesheet"/>
    <script th:src="@{/js/lib/summernote.min.js}"></script>
</head>
<body>
<div layout:fragment="content" id="searchResultContent">
    <div class="container">
        <div class="row" style="padding-top: 16px;">
            <div class="col-md-12">
                <ul class="breadcrumb noPadding">
                    <li th:each="b, row : ${breadcrumb}">
                        <a th:href="@{${b.key}}" th:text="${b.value}"
                           th:classappend="${row.index == #maps.size(breadcrumb)-1 ? 'disabled-admin-link':''}">Page</a>
                    </li>
                </ul>
            </div>
        </div>
        <h1 class="adminTitle" th:if="${policyMetaCategoryContent.id != null}">Edit content</h1>

        <h1 class="adminTitle" th:if="${policyMetaCategoryContent.id == null}">Create content</h1>

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible" role="alert" th:if="${successMessage}">
                    <button type="button" class="close" data-dismiss="alert"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <span th:text="${successMessage}">successMessageKey</span>
                </div>
            </div>
        </div>

        <div>
            <form action="#"
                  th:action="@{/cms/vendor_page/policy_page/policy_meta_category/edit/{id}(id=${policyMetaCategoryContent.id})}"
                  th:object="${policyMetaCategoryContent}"
                  method="post">
                <div class="alert alert-danger alert-dismissible" role="alert" th:if="${#fields.hasErrors('*')}">
                    <button type="button" class="close" data-dismiss="alert"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div th:each="e : ${#fields.detailedErrors()}">
                        <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
                        <span th:text="${e.message}">The error message</span>
                    </div>
                </div>
                <div class="form-group" th:if="${policyMetaCategoryContent.getPolicyMetaPageForCategory() != null}">
                    <label for="category.name">Policy meta category: </label>
                    <input type="hidden" th:field="*{category.id}"/>
                    <input type="hidden" th:field="*{name}"/>
                    <input type="hidden" th:field="*{category.code}"/>
                    <input type="text" id="category.name" th:field="*{category.name}" readonly="readonly"
                           class="form-control"/>
                </div>

                <div th:if="${policyMetaCategoryContent.getPolicyMetaPageForCategory() == null}"
                     class="form-group">
                    <th:block th:if="${policyMetaCategoryContent.policyMetaPageForCustomCategory != null}">
                        <label for="name">Policy meta custom category name:</label>
                    </th:block>
                    <th:block th:if="${policyMetaCategoryContent.policyMetaPageForPlanInfo != null}">
                        <label for="name">Policy meta plan info name:</label>
                    </th:block>
                    <th:block th:if="${policyMetaCategoryContent.policyMetaPageForRestrictions != null}">
                        <label for="name">Policy meta restriction name:</label>
                    </th:block>
                    <input type="text" id="name" th:field="*{name}" class="form-control" required="required"/>
                </div>

                <div class="form-group" th:if="${policyMetaCategoryContent.getPolicyMetaPageForCustomCategory()!=null}">
                    <label for="group">Policy meta custom category group: </label>
                    <select th:field="*{group}" id="group" class="form-control">
                        <option th:each="group : ${groups}" th:value="${group.name}" th:text="${group.name}"/>
                    </select>
                </div>

                <div class="form-group" style="display: none">
                    <th:block th:if="${policyMetaCategoryContent.policyMetaPageForCategory != null}">
                        <label for="content">Category content: </label>
                        <span id="errorContent" style="color: red;font-style: italic; font-size: 15px;"></span>
                    </th:block>
                    <th:block th:if="${policyMetaCategoryContent.policyMetaPageForCustomCategory != null}">
                        <label for="name">Custom category content:</label>
                    </th:block>
                    <th:block th:if="${policyMetaCategoryContent.policyMetaPageForPlanInfo != null}">
                        <label for="name">Plan info content:</label>
                    </th:block>
                    <th:block th:if="${policyMetaCategoryContent.policyMetaPageForRestrictions != null}">
                        <label for="name">Restriction content:</label>
                    </th:block>
                    <span th:errors="*{content}" style="color: red"/>
                    <input id="content" type="hidden" th:field="*{content}" class="form-control"/>

                    <div id="summernote1"/>
                    <iframe id="contentIframe" th:src="@{/cms/page/wysiwyg}"
                            style="border: none; width:100%; height: 560px" onload="init()"/>
                </div>

                <div class="form-group">
                    <label for="certificateText">Certificate text (required): </label>
                    <span id="errorCertificateText" style="color: red;font-style: italic; font-size: 15px;"></span>
                    <span th:errors="*{certificateText}" style="color: red"/>
                    <input id="certificateText" type="hidden" th:field="*{certificateText}" class="form-control"/>

                    <div id="summernote2"/>
                    <iframe id="certificateIframe" th:src="@{/cms/page/wysiwyg}"
                            style="border: none; width:100%; height: 560px" onload="init()"/>
                </div>

                <input type="hidden" name="version" th:field="*{version}"/>

                <input type="hidden" name="id" th:field="*{id}"/>

                <input type="hidden" name="policyMetaPageForCategory.id" th:field="*{policyMetaPageForCategory.id}"
                       th:if="${policyMetaCategoryContent.policyMetaPageForCategory!=null}"/>

                <input type="hidden" name="policyMetaPageForCustomCategory.id"
                       th:field="*{policyMetaPageForCustomCategory.id}"
                       th:if="${policyMetaCategoryContent.policyMetaPageForCustomCategory!=null}"/>

                <input type="hidden" name="policyMetaPageForPlanInfo.id" th:field="*{policyMetaPageForPlanInfo.id}"
                       th:if="${policyMetaCategoryContent.policyMetaPageForPlanInfo!=null}"/>

                <input type="hidden" name="policyMetaPageForRestrictions.id"
                       th:field="*{policyMetaPageForRestrictions.id}"
                       th:if="${policyMetaCategoryContent.policyMetaPageForRestrictions!=null}"/>

                <input type="hidden" name="policyMetaPackage.id" th:field="*{policyMetaPackage.id}"
                       th:if="${policyMetaCategoryContent.policyMetaPackage!=null}"/>

                <input type="hidden" name="packageOptions.id" th:field="*{packageOptions.id}"
                       th:if="${policyMetaCategoryContent.policyMetaPackage!=null}"/>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="plans">Vendor policies:</label>
                            <input type="hidden" id="multiselectData" th:value="${multiselectDataProvidersJson}"/>
                            <select id="plans" th:field="*{plansSelected}" multiple="multiple"></select>
                        </div>
                        <div id="saveTypeDiv" class="form-inline">
                            <label for="plans">Select elements to save:</label>

                            <label class="checkbox-inline" style="display: none">
                                <input type="checkbox" name="saveType" value="content"/> Category content
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="saveType" value="text" checked="checked"/> Certificate Text
                            </label>
                        </div>
                        <div>
                            <a th:href="@{${backUrl}}" class="btn btn-default back-btn">Back</a>
                            <button type="submit" name="saveAll" class="btn btn-success btn-submit">Save</button>
                        </div>
                        <p class="help-block" style="font-size: 12px; margin-bottom: 0px!important;">
                            Certificate text and/or content will be created (if not presented in a plan) or copied to
                            selected plans.<br/>
                            Both text and Content are always saved for Current plan.
                        </p>
                    </div>
                </div>
                <input type="hidden" name="saveBtn" id="saveBtn"/>
            </form>
        </div>
    </div>

    <script>
        function gotoBlock(block) {
            $('html, body').animate({
                scrollTop: $("#" + block).offset().top - 150
            }, 400);
        }

        $(document).ready(function () {
            $(".btn-submit").on('click', function (e) {
                e.preventDefault();
                if ($('input[name="saveType"]:checked').length == 0) {
                    $('#saveTypeDiv').addClass('has-error');
                    return;
                } else {
                    $('#saveTypeDiv').removeClass('has-error');
                }

                if ($('#contentIframe').contents().find("#summernote").code().length > 100000) {
                    $('#errorContent').text('Max Content Length is 100000 symbols');
                    gotoBlock('errorContent');
                } else if ($('#certificateIframe').contents().find("#summernote").code().length > 100000) {
                    $('#errorCertificateText').text('Max Certificate content Length is 100000 symbols');
                    gotoBlock('errorCertificateText');
                } else if ($('#certificateIframe').contents().find("#summernote").code().length == 0) {
                    $('#errorCertificateText').text('Certificate Text must be filled');
                    gotoBlock('errorCertificateText');
                } else {
                    $("#content").val($('#contentIframe').contents().find("#summernote").code());
                    $("#certificateText").val($('#certificateIframe').contents().find("#summernote").code());
                    $("#saveBtn").val($(this).attr("name"));
                    this.form.submit();
                }
            });

            var multiselectDataJson = $('#multiselectData').val();
            var multiselectData = jQuery.parseJSON(multiselectDataJson);
            var multiselectDataProviders = multiselectData.bootstrapMultiselectDataProvidersList;
            $('#plans').multiselect({
                enableFiltering: true,
                buttonWidth: 550,
                maxHeight: 372,
                enableCaseInsensitiveFiltering: true,
                includeSelectAllOption: true,
                filterStyle: 'beginWith'
            }).multiselect('dataprovider', multiselectDataProviders);
        });

        function init() {
            $('#contentIframe').contents().find("#summernote").code($("#content").val());
            $('#certificateIframe').contents().find("#summernote").code($("#certificateText").val());
        }

    </script>
</div>
</body>
</html>