<!DOCTYPE HTML>
<html layout:decorator="layouts/layout_default" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Email verification confirmation</title>
</head>
<body>
<div layout:fragment="content" id="searchResultContent" class="container">
    <div class="row">
        <div class="message email-confirmation">
            <p>Thank you for confirming your login email address.</p>
            <a class="goToHome" th:href="@{/}" href="/">Go to Homepage.</a>
        </div>
    </div>
</div>
</body>
</html>