html, #print {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    overflow-x: auto;
    height: 100%;
    width: 100%;
}

.disabled {
    z-index: 500;
    background-color: lightgrey;
    opacity: 0.6;
}

.purchase.disabled, .disabled-pointer {
    z-index: 500;
    background-color: lightgrey;
    opacity: 0.6;
    pointer-events: none;
}

.disabled-link {
    z-index: 500;
    opacity: 0.6;
    pointer-events: none;
    color: gray !important;
    /* ie < 11 hack, not supported pointer-events, need to remove underline from link */
    text-decoration: none !important;
}

.up-down{
    z-index: 500;
    opacity: 0.6;
    pointer-events: none;
    color: #337ab7 !important;
    /* ie < 11 hack, not supported pointer-events, need to remove underline from link */
    text-decoration: none !important;
}
/* ie < 11 hack, not supported pointer-events, need to remove underline from link */
.disabled-link:hover {
    cursor: default;
}

.disabled-admin-link {
    z-index: 1000;
    opacity: 0.6;
    pointer-events: none;
    color: gray !important;
    text-decoration: none !important;
}

.invalid {
    border: 2px red solid !important;
    outline-color: red !important;
}

.disabled-filter {
    /*opacity: 0.6;*/
    pointer-events: none;
}
.disabled-filter:hover, .disabled-filter:focus {
    cursor:default;
    color: #00aaff;
    text-decoration:none;
}

.processing {
    position: absolute;
}

.slider.slider-disabled .slider-handle {
    background-repeat: repeat;
}

.compare-link {
    display: inline-block !important;
    vertical-align: text-top;
    width: 50px;
    line-height: 14px;
    padding-top: 2px;
}

.bs-searchbox input {
    height: 40px;
}

#datatable {
    width: 100% !Important;
}

.verify {
    color: #0099cc;
    font-size: 16px;
    float: right;
    text-decoration: underline;
}

.verify:hover {
    text-decoration: none;
}

.bs-searchbox {
    height: 46px;
}

.errors-div {
    position: absolute;
    z-index: 1001;
    right: 0;
}

table.dataTable thead .sorting_asc:after {
    content: url(https://d3u70gwj4bg98w.cloudfront.net/images/sort2Top.png) no-repeat right top !important;
    opacity: 1 !important;
}

table.dataTable thead .sorting_desc:after {
    content: url(https://d3u70gwj4bg98w.cloudfront.net/images/sort2Bot.png) no-repeat right top !important;
    opacity: 1 !important;
}

table.dataTable thead .sorting:after {
    content: url(https://d3u70gwj4bg98w.cloudfront.net/images/sort2.png) no-repeat right top !important;
    opacity: 1 !important;
}

.b2b.planDetails.quotes .table-bordered > tbody > tr > td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-xs-24,
.col-sm-24,
.col-md-24,
.col-lg-24 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-24 {
    width: 12.5%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-24 {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-24 {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-24 {
        width: 12.5%;
        float: left;
    }
}

.morePlans {
    text-align: center;
    display: block;
    text-decoration: none !important;
    line-height: 29px;
    font-size: 14px;
    padding-left: 35px;
}

.morePanel {
    display: block;
    border-radius: 3px;
    color: #0099cc;
    background: #eaf2f6;
    cursor: pointer;
    height: 29px;
}

.morePlans span {
    padding-right: 14px;
}

.morePlans.openCollapse {
    border-radius: 3px 3px 0 0;
}

.morePlans.openCollapse span {
    background-position: right -19px;
}

.morePlans span:after {
    content: "Show Other Plans";
    border-bottom: 1px dashed #0099cc;
    color: #0099cc;
    position: relative;
}

.morePlans.openCollapse span:after {
    content: "Hide Other Plans";
}

.morePlans:hover span:after {
    border-bottom: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

/*.left {
    float: left;
    margin-left: 10px;
}*/

.panel-body {
    border: 1px solid #dddddd;
}

.admin-btn {
    margin-left: 3%;
    margin-right: 3%;
}

#countriesStates.form-group {
    padding-top: 10px;
}

#countriesStates.form-group > label {
    float: left;
    width: 13%;
    height: 34px;
    padding-top: 4px;
    box-sizing: border-box;
}

#countriesStates.form-group > select, #countriesStates.form-group > select + .btn-group {
    float: left;
    width: 37% !important;
}

#countriesStates.form-group > select + .btn-group > button {
    width: 100% !important;
}

#countriesStates.form-group:after {
    content: '';
    clear: both;
    display: table;
}

.pinteres {
    width: 19px;
    height: 19px;
}

@media (max-width: 767px) {
    #countriesStates.form-group {
        padding-top: 0;
    }

    #countriesStates.form-group > label {
        width: 100%;
        height: auto;
        text-align: left;
        padding-left: 0 !important
    }

    #countriesStates.form-group > select, #countriesStates.form-group > select + .btn-group {
        width: 100% !important;
    }

    .morePlans span:after {
        white-space: nowrap;
    }

    .morePlans {
        padding-left: 20px;
        padding-right: 20px;
    }
}

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow: none;
}

/*Menu */

.btn-hover-green:hover {
    background-color: #5cb85c;
}

.btn-hover-red:hover {
    background-color: #d9534f;
}

.tree, .tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tree ul {
    margin-left: 1em;
    position: relative
}

.tree ul ul {
    margin-left: .5em
}

.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    color: #369;
    font-weight: 700;
    position: relative;
    word-wrap: break-word;
}

.tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}

.tree ul li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0
}

.indicator {
    margin-right: 5px;
}

.tree li a {
    text-decoration: none;
    color: #369;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color: #369;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

.dropdown-backdrop {
    position: static;
}

.hidden, .hidden-col, .hidden-row {
    display: none !important;
}

.linkCell {
    text-decoration: underline;
    font-size: 14px;
    color: #0099cc;
    margin-bottom: 0;
    padding-left: 19px;
    line-height: 15px;
}

.linkCell:hover {
    text-decoration: none;
}

.labelFieldDefault {
    color: #000;
    /*
    padding-left: 22px;
    */
}

.agreeTerms {
    font-size: 14px;
    margin: -1px 1px -7px;
    padding: 0;
    clear: both;
}

.agreeTerms.purchaseFormBlock label {
    white-space: normal;
}

.f2LoaderCenter {
    position: absolute;
    margin-left: 292px;
    margin-top: 288px;
}

.planDetails .table .backLinks {
    font-weight: normal;
}

.errorRed {
    color: red !important;
}

.trimExtraText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.radioBtnGroup label {
    position: relative;
    padding-left: 10px;
    font-size: 16px !important;
    cursor: pointer;
}

#totalCostRadioBtn {
    margin-top: 20px !important;
}

.btnmodal {
    font-weight: normal;
    line-height: 1.86;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
    float: none;
    margin: auto;
    width: 96.8px;
    height: 40px;
    border-radius: 2px;
    background-color: #00aaff;
}

.update-age .btnmodal {
    width: 120px;
}

.catalog-select {
    width: 80%;
}

.filters .catalog-select {
    width: 90%;
}

.btn-green {
    border-color: #339933;
    color: #339933;
    font-weight: 600;
}

/*error page*/
.errorPageWrap {
    background: #fff;
    min-height:371px;
}
.errorFooter {
    margin-top: -252px;
}
#errorPage {
    background: #fff;
    padding: 10px 0 31px;
    color: #000000;
    position: relative;
    bottom: 50%;
    margin-bottom: -87px;
    left: 0;
    right: 0;
    width: auto;
}
.errorInfo {
    position: absolute;
    top: 50%;
}
.searchError {
    position: relative;
    margin-bottom: 15px;
}
.searchError input {
    width: 100%;
    height: 42px;
    border: 1px solid #464849;
    border-radius: 3px;
    font-size: 18px;
    padding-left: 12px;
}
.searchError button {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(https://d3u70gwj4bg98w.cloudfront.net/images/errorSearch.png) no-repeat left top;
    right:13px;
    top: 12px;
    border: none;
}
#errorPage h4 {
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 15px;
}
#errorPage p {
    display: block;
    font-size: 16px;
    margin: 0 0 15px;
}
#errorPage a {
    color: #000000;
    text-decoration: underline;
}
#errorPage a:hover {
    text-decoration: none;
}
.errorNumber {
    display: block;
    font-weight: 700;
    color: #e5eaed;
    white-space: nowrap;
    font-size: 348px;
    line-height: 330px;
    margin-top: 0px;
    display: block;
    text-align: right;
}
/*error page end*/
.simpleCell {
    cursor: default;
}
.simpleCell:hover {
    cursor: default;
    color: #333;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(255,255,255,0.6);
}

/*
#plandetailsModal .modal-dialog.custom-dialog-category {
    margin-left: 50%;
}*/

@media (max-width: 1400px) {
    #plandetailsModal .modal-dialog.custom-dialog-category {
        margin-left: auto;
    }
}

.fixedHeader {
    position:fixed;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    background: #f05921;
    z-index: 999999;
}
.fixedHeader a.certificate, .fixedHeader .price .sum, .fixedHeader h6, .fixedHeader p  {
    color: white!important;
}
.modal-body .fixedHeader .btnplan {
    color: #00aaff;
    border-color: #00aaff;
}

#modaltable.openCardDetails {
   height: 0px;
}

.downloadLink {
    color: #00aaff;
    text-decoration: underline;
}

.standartOrderPosition {
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(2, 3, 3, 0.15);
    padding: 40px 0 25px 20px;
    position: relative;
    margin-bottom: 17px;
    margin-right: 15px;
    clear: both;
}
.standartOrderPosition .row div:first-child img {
    display:inline-block;
    max-width:100%;
    margin-bottom:10px;
}
.standartOrderPosition strong {
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    display: block;
}
.standartOrderPosition .planDetails {
    font-size: 14px;
    color: #0099cc;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 3px;
}
.standartOrderPosition .planDetails:hover {
    text-decoration: none;
}

.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 15%;
}

.checkbox label input[type="checkbox"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
    opacity: .5;
}

.custom-form-row {
    margin-bottom: 20px;
    line-height: 300%;
}

.custom-inline-form-group {
    margin-right: 8px;
}

.payment-option-label{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 5px;
}

.nav-tabs.centered > li, .nav-pills.centered > li {
    float:none;
    display:inline-block;
    *display:inline;
    zoom:1;
}

.nav-tabs.centered, .nav-pills.centered {
    text-align:center;
}

.mandatory-field{
    color: rgb(255, 0, 0);
}
.sorting, .sorting_asc, .sorting_desc {
    background : none;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background : none;
}
.dataTable > thead > tr > th[class*="sort"]:after{
    content: "" !important;
}

.tableThreeDotsCell td {
    line-height: 10px;
}
#cancellation {
    height: 25px !important;
    font-size: 16px;
}
.bootstrap-select .btn{
    font-size: 14px;
}

.cant-delete:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 10%; top: 30%;
    z-index: 1;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 5px 10px;
}

.booking-delete {
    cursor: pointer;
    padding-top: 2px;
    padding-right: 5px;
}

.disabled-button, .disabled-button:hover, .disabled-button:active, .disabled-button:focus {
    color: #c0c0c0;
    background-color: #d9534f;
    border-color: #d9534f;
}

.custom-select, .custom-select .btn, .custom-select .text {
    height: 34px !important;
    font-size: 14px !important;
}

.custom-select.open, .custom-select.open .btn, .custom-select.open .text{
    z-index: 999;
}

.custom-select .caret {
    top: 38% !important;
}


.table-payments {
    width: 100%;
}

.table-payments thead,
.table-payments tbody,
.table-payments tr,
.table-payments td,
.table-payments th {
    display: block;
}

.table-payments tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.table-payments tbody {
    max-height: 700px;
    overflow-y: auto;
}


.table-payments tbody td, .table-payments thead th {
    width: 20%;
    float: left;
}

.disabledFilter {
    z-index: 500;
    opacity: 0.6;
    pointer-events: none;
}

#users_wrapper .btn.disabled {
    z-index: 500;
    background-color: darkgrey;
    border-color: darkgrey;
    opacity: 0.6;
}