<!DOCTYPE HTML>
<html layout:decorator="layouts/layout_default" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${page.caption}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="container" id="searchResultContent">
        <h1 th:text="${page.caption}">Title</h1>

        <div class="row">
            <div class="col-md-12">
                <div th:utext="${page.content}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>